name: Deploy JsonToTable
on:
  push:
    branches: [ "dev" ]

jobs:
  Setup:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4

    - name: Usar Node.js 24.12.x
      uses: actions/setup-node@v4
      with:
        node-version: '24.12.x'
        cache: 'npm'

    - name: Verificar versión de Node
      run: node -v

  Build:
    runs-on: self-hosted
    needs: Setup
    steps:
    - uses: actions/checkout@v4

    - name: Usar Node.js 24.12.x
      uses: actions/setup-node@v4
      with:
        node-version: '24.12.x'
        cache: 'npm'

    - name: Verificar versión de Node
      run: node -v

    - name: Ejecutar npm ci
      run: npm ci 

    - name: Hacer build
      run: npm run build --if-present
      env:
        NEXT_PUBLIC_API_ENDPOINT: ${{ secrets.NEXT_PUBLIC_API_ENDPOINT }}
        NEXT_PUBLIC_API_KEY: ${{ secrets.NEXT_PUBLIC_API_KEY }}

  Deploy:
    runs-on: self-hosted
    needs: Build
    steps:
    - name: Verificar versión de Node
      run: node -v

    - name: Volver a desplegar
      run: pm2 reload 1
